<h1> My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task_path(task.id) do %>
        <input <%= "checked" if task.completed %>
         type="checkbox" name="">
        <%= task.title %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new task", tasks_new_path %>
